@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
margin:0;
padding:0;
box-sizing: border-box;
}

body{
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
}

ul{
    background-color: white;
    border-radius: 4px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -7px 9px 17px 0 #bbcde0;
}
li a{
    display: inline-block;
    padding:10px 20px;
    text-decoration: none;
    color: black;
}
li:hover a{
    color:crimson;
}
nav{
    position: relative;
}
.icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -80px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    background-image: url(https://img.icons8.com/material/48/000000/circled-menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: pointer;
    box-shadow: 0 0 17px 0 #bbcde0;
    transition: .5s ease transform;
}
.icon.close{
    transform:translateY(-50%) rotate(360deg);
    background-image: url(https://img.icons8.com/material-two-tone/48/000000/delete-sign.png);
}
ul{
    width: 0;
    overflow: hidden;
    transform: translateX(50px);
    opacity: 0;
    pointer-events: none;
    transition: .5s ease;
    padding: px;
}
nav.show ul{
    width: 450px;
    transform: translate(0);
    opacity: 1;
    pointer-events: all;
}
nav{
    position: absolute;
    top: 15px;
    right: 100px;
}

@media only screen and (max-width: 768px){
    body{
        font-size: 14px;
    }
    li a{
        padding: 5px 6px;
    }
    nav ul{
        padding: 15px;
    }
    nav.show ul{
        width: 260px;

    }
    .icon{
        width: 45px;
        height: 45px;
        right: -70px;
    }
    nav{
        top: 10px;
        right: 90px;
    }
}